.archive/
.Xauthority
.bash_history
.bash_logout
.cache/
.config/gtk3.0/
.config/dconf/
.config/mimeapps.list
.config/ranger/
.dmenu_cache
.fltk/
.local/
.mozilla/
.python_history
.surf/cache/
.surf/cookies.txt
.viminfo
.vim/.netrwhist
.vim/bundle/
.gitconfig
Downloads/
builds/
pictures/
tasks/
usr/
.vim/bundle/
.lesshst
.config/gtk-2.0/
.gimp-2.8/
.thumbnails/
