.archive/
.Xauthority
.bash_history
.bash_logout
.cache/
.config/gtk3.0/
.config/dconf/
.config/mimeapps.list
.dmenu_cache
.fltk/
.local/
.mozilla/
.python_history
.surf/cache/
.surf/cookies.txt
.viminfo
.gitconfig
Downloads/
builds/
pictures/
tasks/
usr/
