xterm*termName: xterm-256color
xterm*utf8: 1 
xterm*locale: true

!fonts


xterm*metaSendsEscape: true 
!xterm*font:-*-tamsyn-medium-*-*-*-20-*-*-*-*-*-*-*
xterm*font:-misc-tamsyn-medium-r-normal--16-116-100-100-c-80-iso8859-1

urxvt*scrollBar: false
urxvt*font:-zevv-peep-medium-r-normal--16-*-*-*-c-*-iso8859-15
!urxvt*font:-*-tamsyn-medium-*-*-*-17-*-*-*-*-*-*-*
!urxvt*font:-*-gohufont-medium-*-*-*-14-*-*-*-*-*-iso8859-*
!urxvt*font:-misc-ohsnapu-medium-r-normal--14-101-100-100-c-70-iso10646-1

!cursor
!*cursorColor: #98971a
!grey
!*cursorColor:  #a89984
!purple
*cursorColor:  #9c818e


#include "/home/stapsy/.xthemes/colors/grumple2"

!gruvbox
!*background: #141414
!*foreground: #ebdbb2
! Black + DarkGrey
!*color0:  #282828
!*color8:  #928374
! DarkRed + Red
!*color1:  #b7402f
!*color9:  #fb4934
! DarkGreen + Green
!*color2:  #98971a
!*color10: #b8bb26
! DarkYellow + Yellow
!*color3:  #d79921
!*color11: #fabd2f
! DarkBlue + Blue
!*color4:  #458588
!*color12: #83a598
! DarkMagenta + Magenta
!*color5:  #b16286
!*color13: #d3869b
! DarkCyan + Cyan
!*color6:  #689d6a
!*color14: #8ec07c
! LightGrey + White
!*color7:  #a89984
!*color15: #ebdbb2
! LighterGrey for background
!*color17: #404040
!*color18: #333333
!*color19: #4d4d4d






